*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner {
    font-family: 'Poppins', sans-serif;
    background-image: url(img/BG.png);
    background-size: 100%;
    height: 115vh;
    background-repeat: no-repeat;
    padding: 2% 15%;
}
/*LINE*/

.line {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.but {
    display: flex;
}
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    transition: 0.5s;
}
.button:hover {
    background-color: burlywood;
}
/*main*/
.main {
    margin-top: 121px;
}
.oneinf {
    color: white;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.title {
    margin-top: 25px;
    color: white;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
}
.twoinf {
    margin-top: 20px;
    color: white;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.link-line {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.point {
    margin-right: 10px;
    width: 5px;
    height: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #FFD723;
}
.link {
    text-decoration: none;
    color: #FFD723;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
/*two*/
.conteiner-two {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    background-size: 100%;
    height: 100vh;
    background-repeat: no-repeat;
    
}
.main-one {
    display: flex;
    justify-content: space-around;
    margin-top: 121px;
}
.oneinf2 {
    color: #4D533C;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
}
.title2 {
    margin-top: 25px;
    color: #4D533C;
    font-weight: 700;
    font-size: 60px;
    line-height: 74px;
}
.twoinf2 {
    margin-top: 30px;
    color: #4D533C;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}
.link-line-two {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.point2 {
    margin-right: 10px;
    width: 5px;
    height: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #D4D6D4;
}
.link2 {
    text-decoration: none;
    color: #D4D6D4;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
/*carts*/
.cart {
    color: white;
    box-shadow: 40px 50px 100px rgb(161, 157, 157);
    width: 474px;
    height: 644px;
}
.cart-info {
    display: flex;
    justify-content: center;
    margin-top: 20%;
    color: #4D533C;
    font-size: 24px;
    font-weight: 400;
    line-height: 40px;
    font-style: italic;
}
.info {
    margin-top: 20%;
    display: flex;
   justify-content: center;
   align-items: center;
    
}
.carts {
    padding-bottom: 9%;

}
.zag-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #4D533C;
    font-size: 22px;
    font-weight: 700;
    line-height: 33px;
}
.info-cart {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.line-cart {
    margin-top: 10%;
    margin-left: 10%;
    background-color:#21384218;
    width: 80%;
    height: 1px;
}
/*conteiner-three*/
.conteiner-three {
    height: 120vh;
    font-family: 'Poppins', sans-serif;
}
.content {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}
.subtitle {
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    color: #4D533C;
}
.desc-one {
    margin-top: 1%;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #21384299;
}
.content-two {
    display: flex;
    gap: 10rem;
    margin-top: 10%;
}
.Bitmap {
    background-image: url(img/Bitmap.svg);
    width: 50%;
    height: 80vh;
    background-repeat: no-repeat;
    background-size: 100%;
}
.port-one {
    padding: 4% 4%;
    position: relative;
    bottom: -60%;
    left: 45%;
    background-color: white;
    width: 65%;
    height: 50%;
    box-shadow: 50px 50px 100px rgb(218, 214, 209);
    border-radius: 8px;
    overflow: hidden
}
.desc-port {
    font-style: italic;
    color:#4D533C ;
    font-size: 20px;
    font-weight: 400;
}
.list-avatar {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10%;
}
.desc-line {
    margin-left: 3%;
}
.name {
    color:#4D533C ;
    font-size: 19px;
    font-weight: 400;   
}
.work {
    color:#152934 ;
    font-size: 17px;
    font-weight: 400;
    line-height: 6px;
}
.subtitle-one {
    margin-top: 10%;
    color: #4D533C;
    font-size: 36px;
    font-weight: 700;
    line-height: 48px;

}
.decs-title {
    margin-top: 10%;
    color: #21384299;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}
/*link-line*/
.link-line-three {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.point-three {
    margin-right: 10px;
    width: 5px;
    height: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #D4D6D4;
}
.link-three {
    text-decoration: none;
    color: #D4D6D4;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
/*conteiner-four*/
.line-cart-footer {
    margin-top: 10%;
    margin-left: 10%;
    background-color:#21384218;
    width: 80%;
    height: 1px;
}
.footer {
    font-family: 'Poppins', sans-serif;
}
.conteiner-four {
    padding: 0% 10%;
    margin-top: 10%;
    height: 80vh; 
}
.title-footer {
    color: #4D533C;
    font-size: 36px;
    font-weight: 700;
    line-height: 46px;
}
.carts-two {
    margin-top: 10%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
/*one*/
.cart-one {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.footer-subtitle-one {
    color: #4D533C;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
}
.footer-text-one {
    color: #21384299 ;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
.footer-link-one {
    color: #FFD723;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}
/*two*/
.cart-two {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}
.footer-subtitle-two {
    color: #4D533C;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
}
.footer-text-two {
    color: #21384299 ;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
.footer-link-two {
    color: #D4D6D4;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
}
/*three*/
.cart-three {
    display: flex;
    flex-direction: column;
    gap: 2vh;
}   
.footer-subtitle-three {
    color: #4D533C;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
}
.footer-text-three {
    color: #21384299 ;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}

/*four*/
.cart-four {
    display: flex;
    flex-direction: column;
    gap:2vh;
}
.footer-subtitle-four {
    color: #4D533C;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
}
.footer-text-four {
    color: #21384299 ;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
}
/*end*/
.end {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
    padding: 0% 10%;
    background-color: #4F553D;
    height: 15vh;
}
@media (max-width:1100px) {
    .main {
        margin-top: 40px;
    }
    .port-one {
        bottom: -30%;
        left: 45%;
    }
}
@media (max-width:950px) {
    .conteiner {
        width: 930px;
        height: 100vh;
        background-image: url(img/BG_01.jpg);
    }
    .line {
        position: sticky;
    }
    .conteiner-two {
        width: 930px;
        height: 150vh;
    }
    .content {
        flex-direction: column;
        margin-left: 15%;
    }
    .subtitle {
        font-size: 24px ;
    }
    .desc-one {
        margin-top: 5%;
        font-size: 13px;
    }
    .content-two {
        flex-direction: column-reverse;
        margin-left: 15%;
    }
    .main-one {
        position: sticky;
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }
    .cart {
        margin-top: 5%;
    }
    .Bitmap {
        width: 80%;
    }
    .conteiner-three {
        width: 930px;
        height: 100vh;
        position: sticky;
    }
    .line-cart-footer {
        margin-top: 100%;
        position: sticky;
        width: 80%;
        height: 1px;
    }
    .footer {
     margin-top: 30%;
    }
    .conteiner-four {
        margin-top: 20%;
        width: 930px;
        height: 50vh;
        position: sticky;
    }
    .end {
        position: sticky;
        width: 930px;
    }
}
@media (max-width:750px) {
    .conteiner {
        width: 730px;
        height: 100vh;
        background-image: url(img/BG_01.jpg);
    }
    .line {
        position: sticky;
    }
    .conteiner-two {
        width: 730px;
        height: 150vh;
    }
    .content {
        flex-direction: column;
        margin-left: 15%;
    }
    .subtitle {
        font-size: 24px ;
    }
    .desc-one {
        margin-top: 5%;
        font-size: 13px;
    }
    .content-two {
        flex-direction: column-reverse;
        margin-left: 15%;
    }
    .main-one {
        position: sticky;
        display: flex;
        flex-direction: column;
        margin-left: 15%;
    }
    .cart {
        margin-top: 5%;
    }
    .Bitmap {
        width: 80%;
    }
    .conteiner-three {
        width: 730px;
        height: 100vh;
        position: sticky;
    }
    .line-cart-footer {
        margin-top: 100%;
        position: sticky;
        width: 80%;
        height: 1px;
    }
    .footer {
     margin-top: 30%;
    }
    
    .conteiner-four {
        margin-top: 20%;
        width: 730px;
        height: 110vh;
        position: sticky;
    }
    .carts-two {
        flex-direction: column;
    }
    .end {
        position: sticky;
        width: 730px;
    }
}
@media (max-width:576px) {
    .conteiner {
        width: 540px;
        height: 100vh;
        background-image: url(img/BG_01.jpg);
    }
    .main {
        margin-top: 30px;
    }
    .title {
        margin-top: 20px;
        font-size: 45px;
    }
    .twoinf {
        margin-top: 15px;
        font-size: 15px;
        
    }
    .link-line {
        margin-top: 12px;
    }
    .line {
        position: sticky;
    }
    .conteiner-two {
        width: 540px;
        height: 150vh;
    }
    .content {
        flex-direction: column;
        margin-left: 15%;
    }
    .subtitle {
        font-size: 24px ;
    }
    .desc-one {
        margin-top: 5%;
        font-size: 13px;
    }
    .content-two {
        flex-direction: column-reverse;
        margin-left: 15%;
    }
    .main-one {
        position: sticky;
        display: flex;
        flex-direction: column;
        margin-left: 10%;
    }
    .cart {
        margin-top: 5%;
    }
    .Bitmap {
        width: 80%;
    }
    .conteiner-three {
        width: 540px;
        height: 100vh;
        position: sticky;
    }
    .line-cart-footer {
        margin-top: 100%;
        position: sticky;
        width: 80%;
        height: 1px;
    }
    .footer {
     margin-top: 30%;
    }
    
    .conteiner-four {
        margin-top: 20%;
        width: 540px;
        height: 110vh;
        position: sticky;
    }
    .carts-two {
        flex-direction: column;
    }
    .end {
        position: sticky;
        width: 540px;
    }
}